<div class="col-md-6 col-md-offset-3">
    <h2>Issued Books</h2>
    <form name="form" ng-submit="vm.seeibooks()" role="form">
        <div ng-show="vm.check">
            <table class="table table-bordered table-hover table-responsive table-striped">
                            <th>Name</th>
                            <th>Author's Name</th>
                            <th>Language</th>
                            <th>Genre</th>
                            <th>Edition</th>
            
                         <tr ng-repeat="book in vm.details">  
                            <td>{{book.name}}</td>
                            <td>{{book.author.name}}</td>
                            <td>{{book.lang}}</td>
                            <td>{{book.genre}}</td>
                            <td>{{book.edition}}</td>
                         </tr>
                    </table>
            <p>&nbsp;</p>
            <p><a href="#!/user" class="btn btn-primary">Back to Home Page</a></p>
            <p>&nbsp;</p> 
        </div>
        <div ng-hide="vm.check">
            <div class="form-group" ng-class="{ 'has-error': form.uname.$dirty && form.uname.$error.required }">
                <label for="uname">Username</label>
                <input type="text" name="uname" id="uname" class="form-control" ng-model="vm.seeibooks.uname" required />
                <span ng-show="form.uname.$dirty && form.uname.$error.required" class="help-block">Username is required</span>
            </div>
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">See Issued Books</button>
                <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <a href="#!/admin" class="btn btn-link">Cancel</a>
            </div>
        </div>
    </form>
</div>
