
<head>
    <br>
</head>


<body>
        <h3>GENRE</h3>
        <div class="row">
                <div class="col-md-6">
                <ul class="list-unstyled">
                <li><button class="btn btn-info" ng-click="">FICTION</button></li><br>
                <li><button class="btn btn-info" ng-click="">NOVEL</button></li><br>
                <li><button class="btn btn-info" ng-click="">NON-FICTION</button></li><br>
                <li><button class="btn btn-info" ng-click="">FANTASY</button></li><br>
                <li><button class="btn btn-info" ng-click="">MYSTERY</button></li><br>
                <li><button class="btn btn-info" ng-click="">HORROR</button></li><br>
                <li><button class="btn btn-info" ng-click="">HISTORY</button></li><br>
                <li><button class="btn btn-info" ng-click="">SCIENCE</button></li><br>
                </ul>
        </div>
        <div class="col-md-6">

            <ul class="list-unstyled">
                <li>FICTION</li><br>
                <li>NOVEL</li><br>
                <li>NON-FICTION</li><br>
                <li>FANTASY</li><br>
                <li>MYSTERY</li><br>
                <li>HORROR</li><br>
                <li>HISTORY</li><br>
                <li>SCIENCE</li><br>
            </ul>
             
</div>
</div>
            
</body>
