<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="app-content/demo.css" />
		<link rel="stylesheet" type="text/css" href="app-content/common.css" />
        <link rel="stylesheet" type="text/css" href="app-content/style2.css" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css' />
		<script type="text/javascript" src="js/modernizr.custom.79639.js"></script> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
    [ng\:cloak], [ng-cloak], .ng-cloak {
        display: none !important;
    }
 </style>    
</head>
    <body class="ng-cloak">
      <div class="bs-example" ng-controller="HomeController as vm">
    <form>
        <div class="input-group">
            <div class="input-group-btn">
                <button data-toggle="dropdown" class="btn btn-success dropdown-toggle" type="button">
                    Search
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a ng-click="vm.searchname(searchparam)">By Book Name</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="vm.searchauthor(searchparam)">By Book Author</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="vm.searchlang(searchparam)">By Book Language</a></li>
                </ul>
            </div>
            <input type="text" class="form-control" ng-model="searchparam">
        </div>
    </form>
</div>
        <div class="container" ng-controller="AdminIssuedController as vm">						
			<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-11">
							<div class="ch-info">
                                <h3><a href="#!/admin/inventory">Inventory</a></h3>
							</div>
						</div>
                    </li>
                    <li>
						<div class="ch-item ch-img-12">
							<div class="ch-info">
                                <h3>User Details</h3>
                                <a href="#!/admin/users"> View </a>
                                <br>
                                <a href="#!/user-delete">Delete</a>
                                <br>
                                <a href="#!/role-view">View Role</a>
                                <br>
                                <a href="#!/role-update">Update Role</a>
							</div>
						</div>
                    </li>
                    <br>
                    <br>
					<li>
						<div class="ch-item ch-img-13">
							<div class="ch-info">
                                <h3>Issued Books</h3>
                                <a href="" ng-click="vm.total()">Total</a>
                                <br>
                                <a href="#!/issued-books-author">By Author</a>
                                <br>
                                <a href="#!/issued-books-name">By Title</a>
                                <br>
                                <a href="#!/user/seeissued">By User</a>
						</div>
					</li>
                </ul>
			</section>
        </div>
        <div>
                <p class="alignleft"><a href="#!/user-update" class="btn btn-primary">View and Update Details</a></p>
                <p class="alignright"><a href="#!/login" class="btn btn-primary">Logout</a></p>
        </div>
        <div style="clear: both;"></div>
    </body>
</html>
